@media (min-width: 36rem) {
  .product-card {
    flex-direction: row;
    height: fit-content;
    max-height: 60vh;
    picture {
      width: 50%;
      img {
        height: 100%;
      }
    }
    &__content {
      width: 50%;
      padding: 2rem;
      gap: 1rem;
    }
  }
}
