.product-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 37.5rem;
  margin: 0 auto;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;

  &__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
  }

  &__label {
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__title {
    font-family: "Fraunces", "Times New Roman", Times, serif;
    font-size: 2rem;
    line-height: 1;
    color: $very-dark-blue;
  }
  &__price {
    display: flex;
    align-items: center;
    &--current {
      font-family: "Fraunces", "Times New Roman", Times, serif;
      font-size: 2rem;
      color: $dark-cyan;
      margin-right: 1rem;
    }
  }

  &__add-to-cart {
    padding: 1rem;
    background-color: $dark-cyan;
    color: $white;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover,
    &:active,
    &:focus {
      background-color: $darker-cyan;
    }
  }
}

@media (min-width: 36rem) {
  .product-card {
    flex-direction: row;
    picture {
      width: 50%;
      img {
        height: 100%;
      }
    }
    &__content {
      width: 50%;
      padding: 2rem;
      justify-content: space-evenly;
    }
  }
}
